package router

import (
	"{{.Name}}/internal/app/middleware"
	"{{.Name}}/pkg/logger"

	"github.com/gin-gonic/gin"
	"go.uber.org/fx"
)

type RouterParams struct {
	fx.In
	Logger logger.Logger
}

func NewRouter(params RouterParams) *gin.Engine {
	router := gin.Default()

	router.Use(middleware.CorsMiddleware())
	router.Use(middleware.LoggingMiddleware(params.Logger))
	router.Use(middleware.ErrorHandlerMiddleware(params.Logger))

	router.Group("/api/v1")

	return router
}

var Module = fx.Options(
	fx.Provide(NewRouter),
)
