package router

import (
	"{{.Name}}/internal/adapter/http/middleware"

	"github.com/gin-gonic/gin"
	"go.uber.org/fx"
)

type RouterParams struct {
	fx.In
	CorsMiddleware *middleware.CorsMiddleware
	LoggingMiddleware *middleware.LoggingMiddleware
	ErrorHandlerMiddleware *middleware.ErrorHandlerMiddleware
	RecoverMiddleware *middleware.RecoverMiddleware
	JwtAuthMiddleware *middleware.JwtAuthMiddleware
}

func NewRouter(params RouterParams) *gin.Engine {
	router := gin.Default()

	router.Use(params.CorsMiddleware.Middleware())
	router.Use(params.LoggingMiddleware.Middleware())
	router.Use(params.ErrorHandlerMiddleware.Middleware())
	router.Use(params.RecoverMiddleware.Middleware())

	router.Group("/api/v1")

	return router
}

var Module = fx.Options(
	fx.Provide(NewRouter),
)
