package handler

import (
	"{{.name}}/pkg/logger"
	"{{.name}}/pkg/wrapper"

	"github.com/gin-gonic/gin"
)

type healthHandler struct {
	logger logger.Logger
}

type HealthHandler interface {
	HealthCheck(ctx *gin.Context)
}

func NewHealthHandler(logger logger.Logger) HealthHandler {
	return &healthHandler{logger: logger}
}

func (h *healthHandler) HealthCheck(ctx *gin.Context) {
	h.logger.Info("health check called")
	wrapper.JSONOk(ctx, map[string]interface{}{"status": "ok"})
}

