package middleware

import (
	"net/http"

	"{{.Name}}/pkg/logger"

	"github.com/gin-gonic/gin"
)

// for gin recover if panic occurs
func Recover(l logger.Logger) gin.HandlerFunc {
	return func(ctx *gin.Context) {
		defer func() {
			if err := recover(); err != nil {
				l.WithError(err.(error)).
					WithField("path", ctx.Request.URL.Path).
					WithField("method", ctx.Request.Method).
					Error("GinPanic")
				ctx.Header("content-type", "application/json")
				ctx.AbortWithStatusJSON(http.StatusInternalServerError, map[string]string{"errors": "there are some internal error"})
			}
		}()
		ctx.Next()
	}
}
