package dto

type FilterRequest struct {
	PageSize  int      `json:"page_size"`
	PageIndex int      `json:"page_index"`
	Names     string   `json:"name"`
	IDs       []string `json:"ids"`
	FromDate  int64    `json:"from_date"`
	ToDate    int64    `json:"to_date"`
	Sort      string   `json:"sort"`
}
