package app

import (
	"{{.Name}}/internal/delivery"
	"{{.Name}}/internal/repository"
	"{{.Name}}/internal/service"

	"go.uber.org/fx"
)

var Module = fx.Options(
	delivery.Module,
	repository.Module,
	service.Module,
)
