package middleware

import (
	"net/http"

	"{{.Name}}/pkg/logger"

	"github.com/gin-gonic/gin"
)

// Recover provides panic recovery for HTTP requests
func Recover(l logger.Logger) gin.HandlerFunc {
	return func(ctx *gin.Context) {
		defer func() {
			if err := recover(); err != nil {
				l.WithError(err.(error)).
					WithField("path", ctx.Request.URL.Path).
					WithField("method", ctx.Request.Method).
					Error("panic recovered")
				
				ctx.Header("content-type", "application/json")
				ctx.AbortWithStatusJSON(http.StatusInternalServerError, map[string]string{
					"error": "Internal server error",
				})
			}
		}()
		ctx.Next()
	}
}
