package util

import (
	"fmt"
	"strings"

	"{{.Name}}/config"
	"{{.Name}}/pkg/constant"

	"github.com/gin-gonic/gin"
	"github.com/golang-jwt/jwt/v5"
)

// Get token from query params or header Authorization
func ExtractToken(c *gin.Context) string {
	token := c.Query("token")
	if token != "" {
		return token
	}
	bearerToken := c.Request.Header.Get("Authorization")
	tokenString := strings.Split(bearerToken, " ")
	if len(tokenString) == 2 {
		if tokenString[0] != "Bearer" {
			return ""
		}
		return tokenString[1]
	}
	return ""
}

// ExtractTokenID parse token and set userID and email to context
func ExtractTokenID(c *gin.Context, config config.JWTConfig) error {
	tokenString := ExtractToken(c)
	token, err := jwt.Parse(tokenString, func(token *jwt.Token) (interface{}, error) {
		if _, ok := token.Method.(*jwt.SigningMethodHMAC); !ok {
			return nil, fmt.Errorf("unexpected signing method: %v", token.Header["alg"])
		}
		return []byte(config.Secret), nil
	})
	if err != nil {
		return fmt.Errorf("can't parse token")
	}
	claims, ok := token.Claims.(jwt.MapClaims)
	if ok && token.Valid {
		userID := fmt.Sprint(claims[constant.UserID])
		if len(userID) == 0 {
			return nil
		}
		email := fmt.Sprint(claims[constant.Email])
		if len(email) == 0 {
			return nil
		}
		username := fmt.Sprint(claims[constant.Username])
		if len(username) == 0 {
			return nil
		}
		roles := fmt.Sprint(claims[constant.Roles])
		if len(roles) == 0 {
			return nil
		}

		// Set userID and email to context
		c.Set(constant.UserID, userID)
		c.Set(constant.Email, email)
		c.Set(constant.Username, username)
		c.Set(constant.Roles, roles)
		return nil
	}
	return nil
}

// TokenValid check if token is valid
func TokenValid(c *gin.Context, config config.JWTConfig) error {
	err := ExtractTokenID(c, config)
	if err != nil {
		return fmt.Errorf("can't extract token")
	}
	return nil
}

// ExtractUserIDFromContext get userID from context
func ExtractUserIDFromContext(c *gin.Context) string {
	val := c.GetString(constant.UserID)
	return val
}
