package infrastructure

import (
	"{{.Name}}/internal/infrastructure/database"
	"{{.Name}}/internal/infrastructure/external"
	"{{.Name}}/internal/infrastructure/repository"

	"go.uber.org/fx"
)

var Module = fx.Options(
	fx.Provide(database.NewPostgreDB),
	fx.Invoke(database.RunPostgreDB),
	external.Module,
	repository.Module,
)
