package infrastructure

import (
	"{{.Name}}/internal/infrastructure/database/postgre"
	"{{.Name}}/internal/infrastructure/external"

	"go.uber.org/fx"
)

var Module = fx.Options(
	postgre.Module,
	external.Module,
)
