package enum

const (
	ActionDelete = "DELETE"
	ActionUpdate = "UPDATE"
	ActionCreate = "CREATE"
)

const (
	StateActive   = "Active"
	StateInactive = "Inactive"
)

// Convert state from byte to string
func EnumState(state byte) string {
	switch state {
	case 1:
		return StateActive
	case 2:
		return StateInactive
	default:
		return ""
	}
}

// Convert state from string to byte
func EnumStateDB(state string) byte {
	switch state {
	case StateActive:
		return 1
	case StateInactive:
		return 2
	default:
		return 0
	}
}
