package middleware

import (
	"go.uber.org/fx"
)

var Module = fx.Module(
	"middleware",
	fx.Provide(NewCorsMiddleware),
	fx.Provide(NewErrorHandlerMiddleware),
	fx.Provide(NewJwtAuthMiddleware),
	fx.Provide(NewLoggingMiddleware),
	fx.Provide(NewRecoverMiddleware),
)